@use "../base/typography";
.filter-drawer {
  font-family: typography.$accent-font;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  > * {
    padding: 2rem;
  }
}

.locations {
  color: #333333;
  font-size: 1.4rem;
  border-right: 1px solid #f2f2f2;
}

.guests {
  color: #bdbdbd;
  font-size: 1.4rem;
  border-right: 1px solid #f2f2f2;
}

.search-btn {
  background: transparent;
  border: none;
  .material-icons {
    color: #eb5757;
  }
}
