$title-color: #333333;
$quantity-color: #4f4f4f;
@use "../base/typography";

.showcase {
  margin: 50px 96px 0 96px;
  font-family: typography.$main-font;
}

.showcase-info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 32px auto;
}

.showcase-title {
  font-weight: 700;
  font-size: 2.4rem;
  color: $title-color;
}

.stays-quantity {
  font-size: 1.4rem;
  color: $quantity-color;
}

.stays-gallery {
  display: grid;
  grid-gap: 34px;
  grid-template-columns: repeat(3, minmax(264px, 1fr));
  place-content: center;
}

@import "./Card.scss";

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .showcase {
    margin: 0 auto;
  }
  .showcase-info {
    margin: 0 16px 32px 16px;
  }
  .stays-gallery {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin: 0 16px;
  }
}

@media only screen and (max-width: 600px) {
  .showcase {
    margin: 12px;
  }
  .stays-gallery {
    grid-template-columns: 1fr;
  }
  .showcase-title {
    font-size: 1.8rem;
  }
}
