html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  margin: 32px 96px 0 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: "Montserrat", sans-serif;
}

.filter-drawer {
  font-family: "Mulish", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}
.filter-drawer > * {
  padding: 2rem;
  cursor: pointer;
}
.filter-drawer > *:hover {
  border: 1px solid black;
  border-radius: 12px;
}

.locations {
  color: #bdbdbd;
  font-size: 1.4rem;
  border-right: 1px solid #f2f2f2;
}

.guests {
  color: #bdbdbd;
  font-size: 1.4rem;
  border-right: 1px solid #f2f2f2;
}

.search-btn {
  background: transparent;
  border: none;
}
.search-btn .material-icons {
  color: #eb5757;
}

@media only screen and (max-width: 600px) {
  .filter-drawer {
    margin: 75px auto 25px auto;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    margin: 0 auto;
  }

  .windbnb-logo {
    position: absolute;
    top: 20px;
    left: 15px;
  }
}
body {
  font-family: "Montserrat", sans-serif;
}

.showcase {
  margin: 85px 96px 0 96px;
  font-family: "Montserrat", sans-serif;
}

.showcase-info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 32px auto;
}

.showcase-title {
  font-weight: 700;
  font-size: 2.4rem;
  color: #333333;
}

.stays-quantity {
  font-size: 1.4rem;
  color: #4f4f4f;
}

.stays-gallery {
  display: grid;
  grid-gap: 34px;
  grid-template-columns: repeat(3, minmax(264px, 1fr));
  place-content: center;
}

body {
  font-family: "Montserrat", sans-serif;
}

.stayCard {
  max-width: 400px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 50px;
}

.card-photo {
  width: 100%;
  height: 275px;
  object-fit: cover;
  object-position: center;
  border-radius: 24px;
}

.details--wrapper {
  margin: 15px auto 12px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-and-type {
  display: flex;
  align-items: center;
}

.host-status {
  display: flex;
  place-items: center;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #4f4f4f;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  margin-right: 10px;
}

.apt-type {
  font-size: 1.4rem;
  color: #828282;
}

.apt-rating {
  display: flex;
  align-items: center;
  color: #4f4f4f;
  font-size: 1.4rem;
}
.apt-rating .material-icons {
  color: #eb5757;
}

.apt-title {
  font-size: 1.6rem;
  color: #333333;
}

@media only screen and (max-width: 840px) {
  .stayCard {
    margin: 0;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .showcase {
    margin: 0 auto;
  }

  .showcase-info {
    margin: 0 16px 32px 16px;
  }

  .stays-gallery {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin: 0 16px;
  }
}
@media only screen and (max-width: 600px) {
  .showcase {
    margin: 12px;
  }

  .stays-gallery {
    grid-template-columns: 1fr;
  }

  .showcase-title {
    font-size: 1.8rem;
  }
}
.footer {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  margin: 0 auto 26px auto;
  color: #828282;
}

/*# sourceMappingURL=index.css.map */
